{% extends 'base.html' %}
{% block content %}
<div class="header">
    <div class="title" style="font-size: large; font-weight: bold;">E - Jersey</div>
    <br>
</div>
<div class="content">
    <div class="selection-container">
        <div class="nama"> 
            Nama : <br>{{ nama }}
        </div>
        <div class="npm">
            NPM : <br>{{ npm }}
        </div>
        <div class="kelas">
            Kelas : <br>PBP {{ kelas }}
        </div>
    </div>
</div>
<div class="footer"></div>
{% endblock content %}