{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style-selection.css' %}">
</head>
<body>
    <div class="header">
        <a href="{% url 'main:home' %}"> Home </a>
        <div class="title"> {{ type }}</div>
    </div>
    <div class="content">
        <div class="selection-container">
            {% for jersey in jerseys %}
            <div class="selection {{ jersey.club }}">
                <img class="image" src="{% static 'main/images/' %}{{ jersey.club }}.jpg" alt="{{ jersey.club }}">
                <a href="{% url 'main:view' type=jersey.type  slug=jersey.slug  %}" class="text-overlay">{{ jersey.name }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>